# Demo 2: Naive Bayes and DataStax Analytics
------
<img src="images/drinkWine.jpeg" width="300" height="500">


#### Dataset: https://archive.ics.uci.edu/ml/datasets/Wine+Quality

## What are we trying to learn from this dataset? 

# QUESTION:  Can Naive Bayes be used to classify a wineâ€™s rating score by its attributes?

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import pandas
import cassandra
import pyspark
import re
import os
import random
from random import randint, randrange
import matplotlib.pyplot as plt
from IPython.display import display, Markdown
from pyspark.sql import SparkSession
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StringIndexer

#### Helper function to have nicer formatting of Spark DataFrames

In [3]:
#Helper for pretty formatting for Spark DataFrames
def showDF(df, limitRows =  5, truncate = True):
    if(truncate):
        pandas.set_option('display.max_colwidth', 50)
    else:
        pandas.set_option('display.max_colwidth', -1)
    pandas.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pandas.reset_option('display.max_rows')

# DataStax Enterprise Analytics
<img src="images/dselogo.png" width="400" height="200">

## Creating Tables and Loading Tables

### Connect to DSE Analytics Cluster

In [4]:
from cassandra.cluster import Cluster

cluster = Cluster(['127.0.01'])
session = cluster.connect()

### Create Demo Keyspace

In [5]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS accelerate 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

### Set keyspace

In [6]:
session.set_keyspace('accelerate')

### Create table called `wines`. Our PRIMARY will be a unique key (wineid) we generate for each row.  This will have two datasets "white" and "red"

In [7]:
query = "CREATE TABLE IF NOT EXISTS wines \
                                   (wineid int, fixedAcidity float, volatileAcidity float, citricAcid float, sugar float, \
                                   chlorides float, freeSulfur float, totalSulfur float, density float, ph float, \
                                   sulphates float, alcohol float, quality float, \
                                   PRIMARY KEY (wineid))"
session.execute(query)

### What do these of these 12 columns represent: 

* **Fixed acidity**
* **Volatile acidity**
* **Citric Acid**
* **Residual Sugar** 
* **Chlorides**
* **Free sulfur dioxide**     
* **Total sulfur dioxide**
* **Density** 
* **pH**
* **Sulphates**
* **Alcohol**
* **Quality**

### Load 2 Wine Dataset -- White and Red
<img src="images/whiteAndRed.jpeg" width="300" height="300">

### Load Wine datasets from CSV file (winequality-red.csv winequality-white.csv)
* No clean up was requried! How nice :)

#### Insert all the Wine Data into the DSE table `wines`

In [8]:
fileName = 'data/winequality-red.csv'
input_file = open(fileName, 'r')
i = 1
for line in input_file:
    wineid = i
    row = line.split(';')
        
    query = "INSERT INTO wines (wineid, fixedAcidity, volatileAcidity, citricAcid, sugar, \
                               chlorides, freeSulfur, totalSulfur, density, ph, \
                               sulphates, alcohol, quality)"
    query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    session.execute(query, (wineid, float(row[0]), float(row[1]), float(row[2]), float(row[3]), float(row[4]), float(row[5]), float(row[6]), float(row[7]), float(row[8]), float(row[9]), float(row[10]), float(row[11])))
    i = i + 1

fileName = 'data/winequality-white.csv'
input_file = open(fileName, 'r')

for line in input_file:
    wineid = i
    row = line.split(';')
        
    query = "INSERT INTO wines (wineid, fixedAcidity, volatileAcidity, citricAcid, sugar, \
                               chlorides, freeSulfur, totalSulfur, density, ph, \
                               sulphates, alcohol, quality)"
    query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    session.execute(query, (wineid, float(row[0]), float(row[1]), float(row[2]), float(row[3]), float(row[4]), float(row[5]), float(row[6]), float(row[7]), float(row[8]), float(row[9]), float(row[10]), float(row[11])))
    i = i + 1

## Machine Learning with DSE Analytics and Apache Spark
<img src="images/sparklogo.png" width="150" height="200">

#### Create a spark session that is connected to DSE. From there load each table into a Spark Dataframe and take a count of the number of rows in each.

In [9]:
spark = SparkSession.builder.appName('demo').master("local").getOrCreate()


wineDF = spark.read.format("org.apache.spark.sql.cassandra").options(table="wines", keyspace="accelerate").load()

print ("Table Wine Row Count: ")
print (wineDF.count())

Table Wine Row Count:
6497

In [10]:
showDF(wineDF)

,wineid,alcohol,chlorides,citricacid,density,fixedacidity,freesulfur,ph,quality,sugar,sulphates,totalsulfur,volatileacidity
0,3088,9.5,0.044,0.74,0.99720,6.5,68.0,3.18,6.0,13.3,0.54,224.0,0.260
1,6395,10.7,0.035,0.29,0.99142,6.4,44.0,3.17,7.0,1.1,0.55,140.0,0.105
2,381,9.4,0.080,0.42,0.99740,8.3,11.0,3.21,6.0,2.0,0.80,27.0,0.260
3,3638,9.0,0.029,0.27,0.99490,5.5,22.0,3.34,5.0,4.6,0.44,104.0,0.140
4,4845,9.8,0.059,0.29,0.99328,7.6,37.0,3.09,5.0,2.5,0.37,115.0,0.270

#### Let's filter out only wines that have been rated 6.0 or higher and create a new dataframe with that information

In [11]:
wine6DF = wineDF.filter("quality > 5")
showDF(wine6DF)

,wineid,alcohol,chlorides,citricacid,density,fixedacidity,freesulfur,ph,quality,sugar,sulphates,totalsulfur,volatileacidity
0,4317,10.8,0.046,0.29,0.99518,6.8,59.0,3.20,6.0,10.4,0.40,143.0,0.16
1,3372,10.9,0.059,0.26,0.99550,7.8,32.0,3.04,6.0,9.5,0.43,178.0,0.40
2,4830,9.4,0.056,0.57,0.99548,6.7,60.0,2.96,6.0,6.6,0.43,150.0,0.13
3,2731,9.7,0.047,0.34,0.99440,6.9,24.0,3.20,6.0,4.0,0.52,128.0,0.23
4,769,9.7,0.082,0.02,0.99744,7.1,24.0,3.55,6.0,2.3,0.53,94.0,0.59

#### Create Vector with all elements of the wine

In [12]:
assembler = VectorAssembler(
    inputCols=['alcohol', 'chlorides', 'citricacid', 'density', 'fixedacidity', 'ph', 'freesulfur', 'sugar', 'sulphates', 'totalsulfur', 'volatileacidity'],
    outputCol='features')

trainingData = assembler.transform(wine6DF)

labelIndexer = StringIndexer(inputCol="quality", outputCol="label", handleInvalid='keep')
trainingData1 = labelIndexer.fit(trainingData).transform(trainingData)

showDF(trainingData1)
print(trainingData1.count())

,wineid,alcohol,chlorides,citricacid,density,fixedacidity,freesulfur,ph,quality,sugar,sulphates,totalsulfur,volatileacidity,features,label
0,4317,10.8,0.046,0.29,0.99518,6.8,59.0,3.20,6.0,10.4,0.40,143.0,0.16,"[10.800000190734863, 0.04600000008940697, 0.28...",0.0
1,3372,10.9,0.059,0.26,0.99550,7.8,32.0,3.04,6.0,9.5,0.43,178.0,0.40,"[10.899999618530273, 0.05900000035762787, 0.25...",0.0
2,4830,9.4,0.056,0.57,0.99548,6.7,60.0,2.96,6.0,6.6,0.43,150.0,0.13,"[9.399999618530273, 0.0560000017285347, 0.5699...",0.0
3,2731,9.7,0.047,0.34,0.99440,6.9,24.0,3.20,6.0,4.0,0.52,128.0,0.23,"[9.699999809265137, 0.04699999839067459, 0.340...",0.0
4,769,9.7,0.082,0.02,0.99744,7.1,24.0,3.55,6.0,2.3,0.53,94.0,0.59,"[9.699999809265137, 0.0820000022649765, 0.0199...",0.0

4113

### We will be training a model with Naive Bays, and because of this we need to split up our dataset in to a training and test set. Will split 80/20.

In [13]:
# Split the data into train and test
splits = trainingData1.randomSplit([0.8, 0.2], 1234)
train = splits[0]
test = splits[1]

print ("Train Dataframe Row Count: ")
print (train.count())
print ("Test Dataframe Row Count: ")
print (test.count())

Train Dataframe Row Count:
3366
Test Dataframe Row Count:
754

### Now it's time to to use NaiveBayes. We will train the model, then use that model with out testing data to get our predictions. 
https://spark.apache.org/docs/2.2.0/ml-classification-regression.html#naive-bayes

In [14]:
nb = NaiveBayes(smoothing=1.0, modelType="multinomial")

# train the model
model = nb.fit(train)

predictions = model.transform(test)
#predictions.show()
print (predictions.count())
showDF(predictions)

750

,wineid,alcohol,chlorides,citricacid,density,fixedacidity,freesulfur,ph,quality,sugar,sulphates,totalsulfur,volatileacidity,features,label,rawPrediction,probability,prediction
0,9,9.5,0.073,0.02,0.9968,7.8,9.0,3.36,7.0,2.0,0.57,18.0,0.58,"[9.5, 0.0729999989271164, 0.019999999552965164...",1.0,"[-108.09327312151044, -107.85941005112294, -11...","[0.43036556300947415, 0.5437546121266319, 0.02...",1.0
1,17,10.5,0.092,0.56,0.9969,8.5,35.0,3.30,7.0,1.8,0.75,103.0,0.28,"[10.5, 0.09200000017881393, 0.5600000023841858...",1.0,"[-195.44190022065484, -195.78493936195812, -19...","[0.5505785943811125, 0.3906963163776513, 0.054...",0.0
2,21,9.4,0.077,0.48,0.9968,8.9,29.0,3.39,6.0,1.8,0.53,60.0,0.22,"[9.399999618530273, 0.07699999958276749, 0.479...",0.0,"[-163.2812393475734, -163.23779925811976, -165...","[0.4645138208663369, 0.485137037004303, 0.0445...",1.0
3,109,9.6,0.091,0.53,0.9976,8.0,18.0,3.37,6.0,2.5,0.80,80.0,0.33,"[9.600000381469727, 0.09099999815225601, 0.529...",0.0,"[-155.48246671722268, -155.9589032390331, -158...","[0.5989541340968573, 0.3719459331008825, 0.026...",0.0
4,270,10.1,0.104,0.51,0.9996,11.5,4.0,3.28,6.0,4.0,0.97,23.0,0.18,"[10.100000381469727, 0.10400000214576721, 0.50...",0.0,"[-124.78196162533945, -124.66552998706011, -12...","[0.46471190891740066, 0.5220948629445296, 0.00...",1.0

In [15]:
showDF(predictions.select("quality", "label", "prediction", "probability"))

,quality,label,prediction,probability
0,7.0,1.0,1.0,"[0.43036556300947415, 0.5437546121266319, 0.02..."
1,7.0,1.0,0.0,"[0.5505785943811125, 0.3906963163776513, 0.054..."
2,6.0,0.0,1.0,"[0.4645138208663369, 0.485137037004303, 0.0445..."
3,6.0,0.0,0.0,"[0.5989541340968573, 0.3719459331008825, 0.026..."
4,6.0,0.0,1.0,"[0.46471190891740066, 0.5220948629445296, 0.00..."

### We can now use the MutliclassClassifciationEvaluator to evalute the accurancy of our predictions.

In [16]:
# compute accuracy on the test set
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

Test set accuracy = 0.6103723404255319

In [17]:
session.execute("""drop table wines""")